.accordion {
    width: 80vw;
    margin: auto;
    border: none;
    border: transparent;
}

.accordion-body {
    width: 70vw;
    margin: auto;
    padding: 0px;
    text-align: center;
}

.accordion-item {
    border: transparent;
    margin: 10px auto;
    text-align: center;
}

.aboutteam {
    padding: 1.5vh 20px;
}

#panelsStayOpen {
    width: 240px;
    margin: auto;
    text-align: center;
    border: 1px solid #cdcdcd;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 0px;
}

.about-button {
    background-color: blue;
    color: aliceblue;
    border-radius: 20px 20px 0px 0px;
    margin: 0px !important;
    font-size: 1rem;
    align-items: center;
    width: 100% !important;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: white;
    text-align: center;
    border: none;
}

.level-1 .about-button {
    width: 13vw;
}

.level-2 .about-button {
    width: 13vw;
    background-image: none;
}

.bi-linkedin {
    color: blue;
}

#level-3 {
    text-align: center;
    margin: 5vh;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
    padding: 1vh;
}

.team {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-auto-columns: max-content;
}

.voluntearteam {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 15px;
}

.aboutteam img {
    max-width: 40%;
    width: 80px;
    height: 75px;
    border-radius: 50%;
}


/*Commitees*/

.commitees {
    width: 80vw;
    margin: auto;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.commitees .nav-item {
    width: 290px;
    padding-right: 2vw;
}

.commitees .nav-item .nav-link {
    height: 100px;
    background-color: #f5eded;
    color: black;
    margin: 5px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.commitees .nav-item .active {
    background-color: blue;
    color: white;
}

.commitees h3 {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}

@media(max-width:1180px) {
    .divisionmain {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0%;
    }
    div#level-3 {
        margin: 0%;
        padding: 0%;
    }
    .voluntearteam,
    .commitees .nav {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .team {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    div#accordionPanelsStayOpen.accordion {
        margin: 0%;
    }
}

.commitees .tab-content {
    width: 70vw;
}

.commitees .tab-content p {
    padding: 20px 0px;
}