/* ===================================================  HOME ============================================================== */

html {
  scroll-behavior: smooth;
}

.homecarousel {
  padding: 0;
  margin: 0;
  z-index: 0;
}

.carousel1 img {
  width: 100vw;
  height: 72vh;
  object-fit: fill;
}

.carousel1 {
  vertical-align: top;
}

.homesec1 {
  display: flex;
  padding: 18vh 15vw;
  background-color: rgb(231, 231, 231);
  height: 100vh;
}

.homesec1 .div1 {
  width: 25vw;
  padding: 12px;
  margin: 1vw;
}

.homesec1 .div1 p,
h3 {
  font-size: 20px;
}

.homesec1 .div1 img {
  width: 18vw;
}

.homesec1 .div2 {
  width: 50vw;
  padding: 10px 2vw;
  margin: 1vw;
}

.homesec1 .div2 h2 {
  text-align: center;
  font-weight: bolder;
  color: black;
  margin-bottom: 10px;
}

.homesec1 .div2 p {
  font-size: large;
}

.updates,
.video {
  width: 40vw;
  padding: 0vh 0vw;
  margin: 0vh 1vw;
  background-color: #242b2e;
  color: white;
}

.updates li {
  list-style: inside;
  font-size: medium;
}

.homesec2 {
  padding: 6vh 6vw;
  display: flex;
  width: fit-content;
  margin: auto;
}

#videosection {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.homesec2 h4 span {
  margin-bottom: 0;
  margin-left: 1vw;
}

.updates h4 {
  border-bottom: 2px solid red;
  padding: 1vh 0px;
  margin: 0px 1vw;
}

.video {
  display: block;
}

.homesec2 marquee {
  margin: 1vh 1vw;
}

.homesec2 marquee li a {
  color: white;
}

.homesec2 marquee li {
  padding-bottom: 10px;
}

.Homecard {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2vw;
}

.Homecard .card {
  width: 28vw;
  border: 1px solid rgb(219, 224, 219);
  padding: 5px;
  background-color: rgb(253, 253, 253);
  box-shadow: 3px 5px 8px #5c5959;
}

.Homecard .card .img img {
  width: 100%;
}

#cards {
  display: block;
  margin: auto;
  width: fit-content;
}

#cards h2 {
  text-align: center;
  font-weight: bolder;
  color: black;
  margin-bottom: 10px;
}

.cardcontent {
  padding: 0vh 10px;
  padding-bottom: 10px;
  color: #4c4e4e;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.card a {
  text-decoration: none;
}

.readmore {
  color: purple;
  border: 1px solid #d5d5d5;
  padding: 10px 20px;
  margin-top: 0;
  width: fit-content;
  border-radius: 25px;
  background-color: #3300fd;
}

.readmore:hover {
  background-color: #1d06a0c0;
  transition: 0.4s ease-in-out;
}

.readmore a {
  color: white;
}

.readmore a:hover {
  color: white;
  text-decoration: none;
}

.homesec3 {
  background-color: rgb(231, 231, 231);
  padding: 10px;
}

.homesec3 h5,
.homesec3 p,
.homesec3 a {
  width: 100%;
}

.homesec3 p {
  height: 50px;
  font-weight: 100;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.homesec3 h5 {
  font-weight: bold;
  color: #000;
}

/* ===================================================  HOME ============================================================== */
