/*====================================================================== header/navbar start =============================================================== */

.nav1 {
    overflow: hidden;
    padding: 1vh 2vw 1vh 6vw;
    margin: 0px;
    z-index: -1;
    align-content: space-around, space-between;
    border-bottom: rgb(219, 219, 219) solid 1px;
    font-size: 1vw;
}

.nav1 p {
    font-weight: normal;
    line-height: normal;
    float: left;
    margin: 0px;
    text-align: center;
    padding-top: 1vh;
    font-size: 0.8vw;
}

.nav1 a:hover {
    color: rgb(231, 0, 0);
}

.nav1-right {
    float: right;
    display: flex;
    padding: 0vw 1vw;
}

.navsocial a,
.navsocial {
    margin: 5px 10px;
}

.nav1lang {
    background-color: #e5e5e5;
}

.nav1login,
.language {
    background-color: #100051;
    color: white;
}

.language {
    padding: 3px 27px;
    border-radius: 50px;
}

.container .language:hover {
    background-color: rgb(212, 212, 212);
    color: #100051;
}

.dropdown-menu.show {
    border-radius: 20px !important;
}

.nav1lang,
.nav1login {
    padding: 5px 20px;
    border-radius: 50px;
    margin: 0px 10px;
}

header a {
    text-decoration: none;
}

header {
    box-shadow: 1px 1px 10px rgba(25, 3, 49, 0.432);
}

.dropdown,
.dropend,
.dropstart,
.dropup {
    position: inherit !important;
}


/*nav 2 main*/

.nav2 {
    overflow: hidden;
    padding: 0vw 2vw 0vw 6vw;
    margin: 0px;
    align-content: space-around;
    border-bottom: rgb(219, 219, 219) solid 1px;
}

.nav2 img {
    width: 20vw;
    float: left;
}

.menu {
    text-align: center;
    float: right;
    padding-left: 4vw;
    width: auto;
    display: flex;
}

.menu p {
    padding-top: 1vw;
    font-size: 1vw;
}

.nav__items {
    padding: 2.5vw 1vh 1vh 1vh;
    font-weight: 350;
    width: 7vw;
    height: 8vw;
    margin: 1vh 0vh;
}

.nav__items:hover {
    background-color: rgb(250, 240, 240);
}


/*====================================================================== header/navbar end =============================================================== */


/*=========================================================== Report styling Start ==========================================================*/

.sectionheadreport {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #1d0871;
    font: roboto;
    text-align: center;
}

.sectionparareport {
    font-weight: bold;
    font: roboto;
    color: black;
    font-size: 15px;
    text-align: center;
}

.boxstyle {
    text-align: center;
    color: white;
    background-color: #ff6f61;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.sendbtn {
    font-style: normal;
    background: #1d0871;
    color: white;
    font-weight: normal;
    display: flex;
    font-size: 20px;
    align-items: center;
    text-align: center;
    padding: 10px 50px;
    border: 1px solid #1d0871;
    box-sizing: border-box;
    border-radius: 50px;
}

.sendbtn:hover {
    opacity: 0.9;
}


/*=========================================================== Report styling End ==========================================================*/


/*=========================================================== Media styling Start ==========================================================*/

.sectionmedia {
    padding-top: 50px;
    background-image: url(../img/background1.png);
    padding-bottom: 50px;
}

.sectionheadact {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    color: #1d0871;
    font: roboto;
}

.sectionparaact {
    font-weight: bold;
    font: roboto;
    text-align: center;
    color: black;
    font-size: 25px;
}

.containermedia {
    width: 100%;
    background: #fff;
    margin: 0 auto;
}


/*=========================================================== Media styling end ==========================================================*/


/*=========================================================== Act Reg styling start ==========================================================*/

.section {
    padding-top: 50px;
    background-image: url(../img/background1.png);
    padding-bottom: 50px;
}

.signbtn {
    font-style: normal;
    color: #1d0871;
    font-weight: normal;
    display: flex;
    font-size: 20px;
    align-items: center;
    text-align: center;
    background: #ffffff;
    padding: 10px 50px;
    border: 1px solid #1d0871;
    box-sizing: border-box;
    border-radius: 50px;
}

.sectionheadact {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    color: #1d0871;
    font: roboto;
}

.sectionparaact {
    font-weight: bold;
    font: roboto;
    text-align: center;
    color: black;
    font-size: 25px;
}

.boxstyle {
    text-align: center;
    color: white;
    background-color: #ff6f61;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.containeractnreg {
    width: 100%;
    background: #fff;
    margin: 0 auto;
}

.display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionpara2 {
    font-weight: bold;
    font: roboto;
    color: black;
    font-size: 20px;
}

.stctionimgact {
    height: 300px;
}


/*=========================================================== Act Reg styling end ==========================================================*/


/*=========================================================== Contact styling start ==========================================================*/

.sendbtn {
    font-style: normal;
    background: #1d0871;
    color: white;
    font-weight: normal;
    display: flex;
    font-size: 20px;
    align-items: center;
    text-align: center;
    padding: 10px 50px;
    border: 1px solid #1d0871;
    box-sizing: border-box;
    border-radius: 50px;
}

.sendbtn:hover {
    opacity: 0.9;
}

.sectionhead {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #1d0871;
    font: roboto;
}

.sectionpara {
    font-weight: bold;
    font: roboto;
    color: black;
    font-size: 40px;
}

.stctionimg {
    height: 250px;
}


/*=========================================================== Contact styling end ==========================================================*/


/*=========================================================== Division styling start ==========================================================*/

.accordion {
    width: 80vw;
    margin: auto;
    border: none;
    border: transparent;
}

.accordion-body {
    width: 70vw;
    margin: auto;
    padding: 0px;
    text-align: center;
}

.accordion-item {
    border: transparent;
    margin: 10px auto;
    text-align: center;
}

.aboutteam {
    padding: 1.5vh 20px;
}

#panelsStayOpen {
    width: 240px;
    margin: auto;
    text-align: center;
    border: 1px solid #cdcdcd;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 0px;
}

.about-button {
    background-color: blue;
    color: aliceblue;
    border-radius: 20px 20px 0px 0px;
    margin: 0px !important;
    font-size: 1rem;
    align-items: center;
    width: 100% !important;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: white;
    text-align: center;
    border: none;
}

.level-1 .about-button {
    width: 13vw;
}

.level-2 .about-button {
    width: 13vw;
    background-image: none;
}

.bi-linkedin {
    color: blue;
}

#level-3 {
    text-align: center;
    margin: 5vh;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1vh;
}

.team {
    display: grid;
    grid-template-columns: auto auto auto;
}

.aboutteam img {
    max-width: 40%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


/*Commitees*/

.commitees {
    width: 80vw;
    margin: auto;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.commitees .nav-item {
    width: 290px;
    padding-right: 2vw;
}

.commitees .nav-item .nav-link {
    height: 100px;
    background-color: #f5eded;
    color: black;
    border-radius: 20px 20px 0px 0px;
}

.commitees .nav-item .active {
    background-color: blue;
    color: white;
}

.commitees h3 {
    text-align: center;
    padding: 10px;
}

.commitees .tab-content {
    width: 70vw;
}


/*=========================================================== Division styling end ==========================================================*/


/*About us*/

.aboutpageSection {
    color: rgba(16, 0, 81, 1);
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
}

.aboutTagline {
    font-size: 20px;
    margin: 2rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

.aboutupperSection {
    width: 80%;
    font-family: sans-serif;
    overflow: hidden;
}

.aboutupperCards {
    margin: 1rem;
    border: 2px solid black;
    box-shadow: 1px 2px 2px #000;
    height: 50vh;
}

.aboutupperCards p {
    font-size: 20px;
}

.aboutupperCards p ul li {
    padding: 15px;
    list-style: circle;
}

.aboutunderLine {
    border: 1px solid rgba(255, 107, 23, 1);
    position: absolute;
    height: 0px;
    top: "2rem";
    width: "20%";
}

.aboutcertainities {
    margin: 2%;
    padding: 0.5rem;
    box-sizing: border-box;
}

.aboutcardFont {
    margin: 6px 0 0 0;
    text-align: center;
    font-size: 18px;
    font-family: Sans-serif;
    box-shadow: 1px 2px 2px #000000;
}

.aboutnumberCircle {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: -20px 40%;
    background: #fff;
    border: 2px solid #666;
    color: #000;
    text-align: center;
}

.aboutcertainStyle {
    font-size: 14px,
}

div .aboutbottomCards {
    margin: 3rem;
    width: 40vw;
    font-family: Sans-serif;
    padding: 2rem;
    border: 2px solid #DC8C5E;
    box-sizing: border-box;
    box-shadow: 2px 7px 8px rgb(230, 145, 19);
}

.aboutcardHead {
    color: rgba(16, 0, 81, 1);
}


/*=========================================================== About end ==========================================================*/