.Policies{
    margin-top: 1em;
    margin-bottom: 1em;
    height: 60vw;
    margin-left: 4em;
    margin-right: 4em;
}

.Policies a{
    color:#f7505a;
}

a{
    color: black;
    text-decoration: none;
}

p{
    color: black;
    font-size: small;
}
   
.currentpage{
        display: flex;
        font-size: small;
}

.list{
    height: 58vw;
}

#heading{
    margin-top: 1em;
    font-size: 1.3em;
    border-bottom: 3px solid #f7505a;
    width: 7.3em;
    padding-bottom: 0.3em;
    color:#2f2f2f;
}

.policygrid{
    margin-top: 1em;
    display: grid;
    height: 22vw;
    grid-template-rows: 1fr;
    grid-row-gap: 2em;
}

.item h3{
    font-size: 1em;
    color:#2f2f2f;
}

.item p{
    color:#000000;
    text-align: justify;
    margin-top:1em;
    font-size: 0.8em;
}